@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html {
    font-family: "Abel", sans-serif;
    text-shadow: 1px 1px 2px white;
    text-transform: uppercase;
}

